main.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center;
    display: flex;
    justify-content: center;
}

#join-game-container, #your-name .field {
  justify-content: center;
}

#public-id {
  font-size: 6rem;
}

.life-total {
  font-size: 4rem;
    background: indianred;
    color: white;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}