main.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#join-game-container,
#your-name .field {
  justify-content: center;
}

#public-id {
  font-size: 6rem;
}

#life-totals {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.life-total {
  flex: 0 50%;
  position: relative;
  font-size: 4rem;
  color: white;
  height: 190px;
  width:  190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.life-total .name {
  position: absolute;
  top: 3px;
  font-size: 1.25rem;
  width: 100%;
}

.life-total .counter-button {
  position: absolute;
  font-size: 3rem;
  bottom: 0;
  cursor: pointer;
  width: 97px;
  height: 190px;
  
}

.life-total .counter-button:hover {
  background: rgba(0, 0, 0, .05);
}

.life-total .plus span, .life-total .minus span {
  position: absolute;
  bottom: 0;
}

.life-total .plus {
  right: 0;
}

.life-total .plus span {
  right: 10px;
}

.life-total .minus {
  left: 0px;
}

.life-total .minus span {
  left: 10px;
}